@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



.main{
    background-image: linear-gradient(180deg, #9D0E0E00 0%, #4F0707 160%), url('../../assets/Wallpaper_Background.png');
    background-position: center;
    background-size: cover;
    background-repeat: none;

}

.logo{
    width: 1.95em;
    height: 1.95em;
    font-size: 3.7rem;
    color:red;
    border-radius: 50%;
    line-height: 1.9em;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

}

.caption{
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.restaurant{
    height: 3em;
    width: 25em;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.location{
    height: 3.1em;
    width: 26em;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
    
    
    .logo{
        font-size: 3.2rem;
    }
    
    .caption{
        font-size: 2.3em;
    }
    
    .restaurant{
        height: 2.5em;
        width: 19em;
    }
    
    .location{
        height: 2.65em;
        width: 20em;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px){
    
    
    
    .logo{
        font-size: 3rem;
    }
    
    .caption{
        font-size: 2.1em;
    }
    
    .restaurant{
        height: 2.5em;
        width: 20em;
        margin-top: 0.5em;
    }
    
    .location{
        height: 2.65em;
        width: 20em;
    }
}

@media only screen and (max-width: 600px){
    
    
    .logo{
        font-size: 2.2rem;
    }
    
    .caption{
        font-size: 1.6em;
    }
    
    .restaurant{
        height: 2em;
        width: 20em;
        margin-top: 0.5em;
        line-height: 1em;
    }
    
    .location{
        height: 2.1em;
        width: 20em;
        line-height: 1em;
    }
}



